/* цвет основного текста  #212121; */
/* вторичный текст  #757575; */
/* белый цвет фона #FFFFFF; */
/* цвет акцента  #2196F3; */
/* вторичный цвeт фона #E5E5E5; */
/* цвет блока команда #F5F4FA */
/* цвет героя и футера #2F303A */
/* цвет текста в футере #FFFFFF99;
 */

:root{
	--primary-text-color:#757575;
	--title-text-color:#212121;
	--accent-color:#2196F3;
	--primary-white-color: #FFFFFF;
	--second-bg-color: #F5F4FA;
	--footer-bg-color: #2F303A;
}

body{
  background-color:var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

.link{
	text-decoration: none;
	font-style: normal; /*Добавил чтобы текст в теге адрес небыл курсив*/
}

.list{
  list-style: none;
}

/* Шапка */

.logo{
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-text{
  color: var(--title-text-color);
}
/* SiteNav */
.site-nav .link{
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus{
	color: var(--accent-color);
}
.site-nav .link.current{
color: var(--accent-color);
}
.contacts-nav .link{
	color: var(--primary-text-color);
	font-weight: 500;
   font-size: 14px;
   line-height: 1.14px;
   letter-spacing: 0.02em; 
}
.contacts-nav .link:hover,
.contacts-nav .link:focus{
	color: var(--accent-color);
}

/* Hero */
.hero-title{
	color: var(--primary-white-color);

	font-weight: 900;
   font-size: 44px;
   line-height: 1.4;
   text-align: center;
   letter-spacing: 0.06em;   
   text-transform: uppercase;
}
.hero{
		background-color: var(--footer-bg-color);
}
.hero .button{
	font-weight: 700;
   font-size: 16px;
   line-height: 1.87;   
	display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;  
}
.hero .button:hover,
.hero .button:focus{
background-color: #188CE8;
}
/* Button */

.button{
	font-family: inherit;
	color: var(--title-text-color);
	background-color: var(--primary-white-color);
	cursor: pointer;
}
.button.primary{
	color: var(--primary-white-color);
	background-color: var(--accent-color); 
}
.button.secondary{
	background-color: var(--second-bg-color);
}

/* Section */

.section-title{
	color: var(--title-text-color);

	font-weight: bold;
   font-size: 36px;
   line-height: 1.14;
   text-align: center;
   letter-spacing: 0.03em;   
}

.feature-list .title{
	color: var(--title-text-color);

	font-weight: bold;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;   
}

.feature-text{
	font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}

.team{
	background-color: var(--second-bg-color);
}
.team-list .title{
	color: var(--title-text-color);

	font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;   
}

.sub-title{
	font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
}

/* Portfolio */

.section .title{
	color: var(--title-text-color);
}

.section .link{
	color: var(--primary-text-color);
}
.button-list .button{
	font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
}
.button-list .button:hover,
.button-list .button:focus{
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}

.portfoli-list .title{
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.portfoli-list .sub-title{
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.03em;
}

/* Footer */

.footer{
	background-color: var(--footer-bg-color);
}
.footer .logo{
	color: var(--accent-color);
}
.footer .logo-text{
	color: var(--primary-white-color)
}
.contacts-list{
	font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}
.contacts-list .address{
	color: var(--primary-white-color)
}

.contacts-list .contacts{
	color: rgba(255, 255, 255, 0.6);
}

.contacts-list .link:hover,
.contacts-list .link:focus{
	color: var(--accent-color);
}



