:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--second-bg-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--button-primary-hover: #188ce8;
	--line-color: #ececec;
	--border-color: #eeeeee;
	--second-btn-color: #212121;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
address {
	font-style: normal;
}
button {
	cursor: pointer;
}

/* универсальные елементы */

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.button {
	font-family: inherit;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid transparent;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* Шапка */

.header-logo {
	margin-right: 93px;
	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
}
.logo-text {
	color: var(--title-text-color);
}
/* SiteNav */
.header {
	border-bottom: 1px solid var(--line-color);
}
.flex-nav {
	display: flex;
}
.header-nav {
	display: flex;
	align-items: center;
}
.nav-list {
	display: flex;
}
.nav-item + .nav-item {
	margin-left: 50px;
}
.nav-link {
	display: block;
	position: relative;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}
.nav-link::after {
}
.current {
	color: var(--accent-color);
}
.current::after {
	color: var(--accent-color);
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #2196f3;
	border-radius: 2px;
}
.contacts-list {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.contacts-item + .contacts-item {
	margin-left: 50px;
}

.contacts-link {
	display: flex;
	align-items: center;
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}
.contacts-icon {
	fill: currentColor;
	margin-right: 10px;
}

/* Hero */

.hero {
	max-width: 1600px;
	height: 600px;
	padding: 200px 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--footer-bg-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-title {
	width: 696px;
	margin: auto;
	margin-bottom: 30px;

	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero-button {
	margin: 0 auto;
	padding: 10px 32px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	border: 1px solid var(--accent-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
	background-color: var(--button-primary-hover);
}

/* Преимущества*/

.feature-list {
	display: flex;
}
.feature-item {
}

.feature-item + .feature-item {
	margin-left: 30px;
}
.feature-icon {
	display: flex;
	width: 270px;
	height: 120px;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	background-color: #f5f4fa;
}

.feature-title {
	margin-bottom: 10px;

	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.feature-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
/* Чем мы занимаемся */
.about {
	padding-top: 0px;
}
.about-title {
	margin-top: 0;
	margin-bottom: 49px;

	color: var(--title-text-color);
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
}
.about-list {
	display: flex;
}
.about-item {
	position: relative;
}
.about-item + .about-item {
	margin-left: 30px;
}
.about-text {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	left: 0px;
	background-color: rgba(47, 48, 58, 0.8);
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}
/* команда */
.team {
	background-color: var(--second-bg-color);
}
.team-padding {
	padding-top: 30px;
	padding-bottom: 30px;
}
.team-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
}
.team-item {
	flex-basis: (100% / 4 - 30px);
	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	margin-right: 30px;
}
/* .team-item + .team-item {
  margin-left: 30px;
} */

.team-title {
	margin-bottom: 50px;

	color: var(--title-text-color);
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
}

.team-sub-title {
	margin-bottom: 10px;

	color: var(--title-text-color);
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
}

.team-text {
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 16px;
}
.team-social-list {
	display: flex;
	justify-content: center;
}
.team-social-item {
	width: 44px;
	height: 44px;
}
.team-social-item + .team-social-item {
	margin-left: 10px;
}
.team-social-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #afb1b8;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
	fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
	background-color: var(--accent-color);
	color: #ffffff;
}

/* Клиенты */
.clients-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	margin-bottom: 50px;
}
.clients-list {
	display: flex;
	text-align: center;
	justify-content: center;
}
.clients-item {
	width: 170px;
	height: 92px;
}
.clients-item + .clients-item {
	margin-left: 30px;
}
.clients-link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #afb1b8;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
	color: var(--accent-color);
	border-color: var(--accent-color);
}
.team-social-icon {
	fill: currentColor;
}

/* Portfolio-page */
.portfolio-item-link {
	color: var(--primary-text-color);
}
.filters-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filters-item + .filters-item {
	margin-left: 8px;
}
.filters-button {
	background-color: var(--second-bg-color);
	color: var(--second-btn-color);

	padding: 6px 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-button:hover,
.filters-button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -30px;
	margin-right: -30px;
}
.portfolio-item {
	flex-basis: calc(100% / 3 - 30px);
	margin-bottom: 30px;
	margin-right: 30px;
	background: var(--primary-white-color);
}
.portfolio-item:hover .portfolio-description,
.portfolio-item-link:focus .portfolio-description {
	transform: translateY(0);
}
.portfolio-overlay {
	position: relative;
	overflow: hidden;
}
.portfolio-description {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(100%);
	width: 100%;
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: #ffffff;
	background-color: rgba(33, 150, 243, 0.9);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link:hover,
.portfolio-item-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* .portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
} */

.portfolio-padding {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 24px;
}
.border {
	background: var(--primary-white-color);
	border: 1px solid var(--border-color);
	border-top: transparent;
}

.portfolio-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}

.portfolio-text {
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	margin-top: 0px;
	margin-bottom: 0px;
}
/* Footer */

.footer {
	padding: 60px 0;
	background-color: var(--footer-bg-color);
}

.footer-logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.23;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}
.footer-logo-text {
	color: var(--primary-white-color);
}
.footer-logo {
	display: inline-block;
	margin-bottom: 20px;
}
.address-list {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.address-item {
	margin-bottom: 9px;
}
.address-item:last-child {
	margin-bottom: 0px;
}
.address-list:last-child {
	margin-top: 0px;
}
.address-link {
	color: var(--primary-white-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-link,
.footer-phone-link {
	color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
	color: var(--accent-color);
}
.follow-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 20px;
}
.footer-wrapper {
	display: flex;
	align-items: baseline;
}
.address-wrapper {
	margin-right: 70px;
}
.follow-social-list {
	display: flex;
}
.follow-social-item {
	width: 44px;
	height: 44px;
}
.follow-social-item + .follow-social-item {
	margin-left: 10px;
}
.follow-social-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.follow-social-icon {
	fill: currentColor;
}
.follow-social-link:hover,
.follow-social-link:focus {
	background-color: var(--accent-color);
}
.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100vw;
	height: 100vh;
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) translateY(-100%) scale(0);
}
.modal {
	position: absolute;
	min-width: 528px;
	min-height: 581px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) translateY(0%) scale(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 8px;
	top: 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: #ffffff;
}
